<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>jTask</title>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        var url = "/showtasks";


        function deleteTask(id) {
            $.ajax({
                url: '/deletetask/' + id,
                type: 'DELETE',
                success: function (result) {
                    $('#tasksList').load(url);
                }
            });
        }

        function changeStatus(id){
            $.ajax({
                url: '/changestatus/'+id,
                type: 'PUT',
                success: function (resut){
                    $('#tasksList').load(url);
                }
            })
        }

        function  editTask(id) {
            var url_edit = "/edittask/" +id;
            window.open(url_edit,"_self")
            }


    </script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap-datetimepicker.css" th:href="@{/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" href="../static/jtask.css" th:href="@{/jtask.css}"/>

</head>
<body>

<form action="#" th:action="@{/addtask}" th:object="${newtask}" method="post" class="form-horizontal" role="form">

    <input type="text" name="name" id="name" placeholder="Name" th:placeholder="${#fields.hasErrors('name')}? ${#fields.errors('name')} : 'Name'"  th:errorclass="fieldError"/>

    <input type="text"  id="description" name="description" placeholder="Description" th:placeholder="${#fields.hasErrors('description')}? ${#fields.errors('description')} : 'Description'"  th:errorclass="fieldError"/>
    <select th:name="priority" th:field="*{priority}">
        <option  th:each="priority : ${T(pl.codespring.jTask.task.TaskPriority).values()}"
                th:value="${priority}"
                th:text="${priority}">
        </option>
    </select>

    <input size="16" type="text" th:field="*{toDoDate}" id="toDoDate" name="toDoDate" value="2012-06-15 14:45" readonly
           class="form_datetime">


    <button type="submit" name="addRow">Add task</button>

</form>
<div id="tasksList">

    <table id="tasksListUnDone">
        <tr>
            <th>id</th>
            <th>name</th>
            <th></th>

        </tr>
        <tr th:each="task : ${tasks}"
            th:if="${task.isDone()}==false">

            <td th:text="${task.id}">Id</td>
            <td th:text="${task.name}">Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${#temporals.format(task.toDoDate,'dd-MM-yyyy, HH:mm')}">To do date</td>
            <td th:text="${task.priority}">Priority</td>
            <td>
                <button type="submit" th:onclick="'javascript:deleteTask(' + ${task.id} + ');'">x</button>
            </td>
            <td>
                <button type="submit" th:onclick="'javascript:editTask(' + ${task.id} + ');'">e</button>
            </td>
            <td>
                <input type="checkbox" name="isDone" th:checked="${task.isDone()} ==true"  th:onclick="'javascript:changeStatus(' + ${task.id} + ');'">
            </td>
        </tr>
    </table>
    <hr/>

    <table id="tasksListDone">
        <tr>
            <th>id</th>
            <th>name</th>
            <th></th>

        </tr>
        <tr th:each="task : ${tasks}"
            th:if="${task.isDone()}==true">
            <td th:text="${task.id}">Id</td>
            <td th:text="${task.name}">Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${#temporals.format(task.toDoDate,'dd-MM-yyyy, HH:mm')}">To do date</td>
            <td th:text="${task.priority}">Priority</td>
            <td>
                <button type="submit" th:onclick="'javascript:deleteTask(' + ${task.id} + ');'">x</button>
            </td>
            <td>
                <button type="submit" th:onclick="'javascript:editTask(' + ${task.id} + ');'">e</button>
            </td>
            <td>
                <input type="checkbox" name="isDone" th:checked="${task.isDone()} ==true"  th:onclick="'javascript:changeStatus(' + ${task.id} + ');'">
            </td>
        </tr>


        <hr/>
        <hr/>

        <table id="tasksListDone">
            <tr>
                <th>id</th>
                <th>name</th>
                <th></th>

            </tr>
            <tr th:each="task : ${outdatedtasks}"
                th:if="${task.isDone()}==false">
                <td th:text="${task.id}">Id</td>
                <td th:text="${task.name}">Name</td>
                <td th:text="${task.description}">Description</td>
                <td th:text="${#temporals.format(task.toDoDate,'dd-MM-yyyy, HH:mm')}">To do date</td>
                <td th:text="${task.priority}">Priority</td>
                <td>
                    <button type="submit" th:onclick="'javascript:deleteTask(' + ${task.id} + ');'">x</button>
                </td>
                <td>
                    <button type="submit" th:onclick="'javascript:editTask(' + ${task.id} + ');'">e</button>
                </td>
                <td>
                    <input type="checkbox" name="isDone" th:checked="${task.isDone()} ==true"  th:onclick="'javascript:changeStatus(' + ${task.id} + ');'">
                </td>
            </tr>
        </table>
</div>


<script src="webjars/jquery/3.3.1-1/jquery.js"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-datetimepicker.js" th:src="@{/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'dd.mm.yyyy, hh:ii'});
</script>
</body>
</html>