<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html"/>
    <script>
        function UserAction(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", "/deletetask/"+id, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            location.reload();
            var response = JSON.parse(xhttp.responseText);
        }

    </script>
</head>
<body>

<form action="#" th:action="@{/addtask}" th:object="${newtask}" method="post">
    <input type="text" th:field="*{name}" id="name" name="name"/>
    <input type="text" th:field="*{description}" id="description" name="description"/>
    <input type="text" th:field="*{toDoDate}" id="toDoDate" name="toDoDate"/>
    <button type="submit" name="addRow" >Add task</button>
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th></th>

    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}">Id</td>
        <td th:text="${task.name}">Name</td>
        <td th:text="${task.description}">Description</td>
        <td th:text="${task.toDoDate}">To do date</td>
        <td th:text="${task.priority}">Priority</td>
        <td><button type="submit" th:onclick="'javascript:UserAction(' + ${task.id} + ');'">x</button></td>
           </tr>
</table>

</body>
</html>